<%# coding: UTF-8 -%>
<div id="form">
	<div>
		<img src="imgs/logo.png">
    <% if @message %>
      <div class="messagebox <%= escape_html @message[:type] %>">
        <%= escape_html @message[:message] %>
      </div>
    <% end %>
    <%= erb(:_login_form, :layout => false) %>
    <p class="cred center">Powered by <a href="rubycas.github.com">RubyCAS-Server</a></p>
	</div>
</div>
